<%# in app/controllers/new.html.erb %>

<%= form_with model: @task, class: 'create-task' do |f| %>
    <p>Please provide the following information to add a task to the database:</p>


        
        <%= f.label :task_name %>
        <%= f.text_field :task_name %>
        </br>
    
        <%= f.label :description %>
        <%= f.text_field :description%>
        </br>

 
        <%= f.label :due_date %>
        <%= f.text_field :due_date%>
        </br>
  
    <%= f.submit "Save Task", class: "task-button" %>

<% end %>

